$fontSize_xxl: 21px;
$fontSize_l: 16px;
$fontSize_m: 15px;
$fontSize: 14px;
$fontSize_s: 13px;
$fontSize_xs: 12px;

$bgColor: #10061f;
$colorGold: #e4ad6c;
$colorGold2: #ba803e;
$colorMenuSecondry: #565663;
$colorSecondry: #717479;
$colorPink: #bb2370;

$fontColor: #e2e2e2;
$fontColor_yellow: #fbf2e0;
$fontColor_gray: #c1c1c1;
$fontColor_purple: #796679;

$linePurple: #443063;

@mixin gdGold($gdFrom1:#9e7b3f, $gdTo1:#734f28){
    background: $gdFrom1;
    background: -moz-linear-gradient(top, $gdFrom1 0%, $gdTo1 100%);
    background: -webkit-linear-gradient(top, $gdFrom1 0%, $gdTo1 100%);
    background: linear-gradient(to bottom, $gdFrom1 0%, $gdTo1 100%);
}
@mixin gdOrange($gdFrom1:#9e7b3f, $gdTo1:#734f28){
    background: $gdFrom1;
    background: -moz-linear-gradient(top, $gdFrom1 0%, $gdTo1 100%);
    background: -webkit-linear-gradient(top, $gdFrom1 0%, $gdTo1 100%);
    background: linear-gradient(to bottom, $gdFrom1 0%, $gdTo1 100%);
}
@mixin transition($style: all, $duration: 300ms){
    -webkit-transition: $style $duration ease-in;
    -moz-transition: $style $duration ease-in;
    -ms-transition: $style $duration ease-in;
    -o-transition: $style $duration ease-in;
    transition: $style $duration ease-in;
}
