@import 'var';

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
    background-color: $bgColor;
    color: $fontColor;
    font-size: $fontSize;
}
*{
    box-sizing: border-box;
}
ul, ol, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    font-weight: normal;
}
img{
    vertical-align: middle;
    border: 0px;
}
a{
    text-decoration: none;
    color: $fontColor;
    @include transition($style: color, $duration: 200ms);
    &:hover{
        color: $colorGold;
        @include transition($style: color, $duration: 200ms);
    }
}
a:focus{
    outline: 0px;
    border: 0px;
}
button{
    border:none;
    outline: none;
}
p{
    margin:0px;
}
input{
    border: none;
    outline: none;
}

/* common */
.contain_width{
    // max-width: 1000px;
    width: 1000px;
    margin: 0px auto;
    &:after{
        content: '';
        display: table;
        clear: both;
    }
// @media only screen and (max-width:1279px){
//     .contain_width{
//         width: 864px;
//     }
// }
}
.color_red{
    color: #d63f10;
}
.color_green{
    color: #27860d;
}
.color_blue{
    color: #0166fd;
}

.btn_gdOrange{
    display: inline-block;
    padding: 0px 15px;
    line-height: 25px;
    color: #efefef;
    @include gdOrange();
    &:hover{
        color: #fff;
    }
}
.btn_gdGold{
    display: inline-block;
    padding: 0px 15px;
    line-height: 25px;
    color: #efefef;
    @include gdGold();
    &:hover{
        color: #fff;
    }
}

/* ---------------------------------------------------
// form
--------------------------------------------------- */
$formHeight : 35px;
.formInput{
    border: 1px solid #d1d0d0;
    font-size: $fontSize_s;
    line-height: $fontSize_m;
    padding: 5px 5px;
    line-height: 25px;
    background-color: transparent;
    &[readonly]{
        background-color: #f0f0ef;
    }
    &::placeholder {
        color: #c9c7c7;
    }
}
.formSelect_wrap{
    display: inline-block;
    border: 1px solid #d1d0d0;
    padding: 0px 5px;
}
.formSelect{
    background: transparent;
    border: none;
    font-size: $fontSize_m;
    height: $formHeight;
    line-height: $formHeight;
    &:focus{
        outline: none;
    }
}
.formBtn{
    display: inline-block;
    height: 37px;
    position: relative;
    line-height: 17px;
    padding: 10px 15px;
    color: #efefef;
    @include gdGold();
    &:hover{
        color: #fff;
        @include gdOrange();
    }
}
.form_submit{
    text-align: center;
}

/* ---------------------------------------------------
// icon
--------------------------------------------------- */
.icon_sprite {
    background: url(img/icon_sprite.png) no-repeat;
    background-size: 256px 256px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    &.icon_tel{
        background-position: -24px 0px;
    }
    &.icon_account{
        background-position: -48px 0px;
    }
    &.icon_info{
        background-position: -72px 0px;
    }
    &.icon_refresh{
        background-position: -96px 0px;
    }
    &.icon_refresh_money{
        background-position: -192px 0px;
    }
    &.icon_mail{
        background-position: -120px 0px;
    }
    &.icon_psn_info{
        background-position: 0px -48px;
    }
    &.icon_psn_deposit{
        background-position: -24px -48px;
    }
    &.icon_psn_callin{
        background-position: -48px -48px;
    }
    &.icon_psn_bettin{
        background-position: -72px -48px;
    }
    &.icon_psn_funds{
        background-position: -96px -48px;
    }
    &.icon_psn_add{
        background-position: -168px 0px;
    }
    &.icon_item{
        background-position: -216px 0px;
    }
    &.icon_wechat{
        background-position: 0px -24px;
    }
    &.icon_zfb{
        background-position: -24px -24px;
    }
    &.icon_success{
        background-position: -216px -24px;
    }
    &.icon_copy{
        background-position: -96px -24px;
    }
    &.icon_about{
        background-position: 0px -96px;
    }
    &.icon_policy{
        background-position: -24px -96px;
    }
    &.icon_duty{
        background-position: -48px -96px;
    }
    &.icon_disclaimer{
        background-position: -72px -96px;
    }
    &.icon_join{
        background-position: -96px -96px;
    }
    &.icon_contact{
        background-position: -120px -96px;
    }
    &.icon_ok{
        background-position: -144px -24px;
    }
}

/* ---------------------------------------------------
// header
--------------------------------------------------- */
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
.topbar{
    background-color: #2a1b32;
    color: #fff;
    font-size: $fontSize;
    line-height: 36px;
    .icon_clock{
        display: inline-block;
        background: url(img/icon/clock.png) no-repeat center center #1b112c;
        background-size: 22px 22px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .topleft{
        float: left;
        vertical-align: middle;
        color: #fbf2e0;
        small{
            margin-left: 20px;
            display: inline-block;
            font-size: $fontSize_xs;
            margin-top: -1px;
        }
    }
    .topright{
        float: right;
        font-size: $fontSize_xs;
        color: $fontColor_purple;
        a{
            display: inline-block;
            color: $fontColor_purple;
            &:hover{
                color: $colorGold;
                .icon_sprite{
                    background-position-y: -24px;
                }
            }
        }
        .icon_sprite{
            margin-right: 5px;
        }
        .tel{
            font-size: $fontSize;
            margin-right: 20px;
        }
        .signup{
            margin-right: 20px;
        }
        .help{
            margin-right: 20px;
        }
        .info{
            margin-right: 0px;
            color: $fontColor_yellow;
            span{
                padding: 0px 10px;
                border-right: 1px solid $linePurple;
                &:last-child{ 
                    border-right: none;
                }
            }
        }
    }
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
.nav{
    background-color: $bgColor;
    position: relative;
    height: 74px;
    border-bottom: 1px solid #24182f;
    padding: 0px 20px 0px 10px;
    .logo{
        float: left;
        width: 300px;
        margin-top: 2px;
        height: 70px;
        img{
            width: 100%;
            display: block;
        }
    }
    .menu{
        float:right;
        width: calc( 100% - 300px);
        .mainmenu{
            text-align: right;
            margin: 0px 0px 0px 50px;
            > li{
                float: left;
                width: 14.2587%;
                text-align: center;
                > a {
                    display: block;
                    color: #fff;
                    height: 74px;
                    padding-top: 17px;
                    position: relative;
                    h2{
                        font-size: $fontSize_l;
                        text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
                    }
                    small{
                        color: #565663;
                        font-size: $fontSize_xs;
                    }
                }
                &:hover, &.active{
                    > a{
                        background: url(img/bg_mainmenu_hover.jpg) no-repeat;
                        background-size: 100% 100%;
                        // border: 1px solid rgba(#2d1405,0.8);
                        &:before, &:after{
                            content: '';
                            background: url(img/bg_login_btn.png) no-repeat 0px -88px;
                            background-size: 183px 106px;
                            position: absolute;
                            width: 14px;
                            height: 18px;
                        }
                        &:before{
                            left: -2px;
                            top: -6px;
                        }
                        &:after{
                            right: -4px;
                            bottom: -4px;
                        }
                        small{
                            color: #432e18;
                        }
                        h2:after{
                            content: '';
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            right: 3px;
                            bottom: 3px;
                            border: 1px solid rgba(#2d1405, 0.3);
                        }
                    }
                }
                &:hover{
                    .submenu{
                        // display: block;
                        height: 100px;
                        @include transition($style: height, $duration: 200ms);
                    }
                }
                // &:nth-child(2) .submenu li:first-child{ margin-left: 14.2587%;}
                // &:nth-child(3) .submenu li:first-child{ margin-left: 28.5174%;}
                // &:nth-child(4) .submenu li:first-child{ margin-left: 42.7761%;}
                // &:nth-child(5) .submenu li:first-child{ margin-left: 57.0348%;}
                &.hot:after{
                    content: '';
                    display: block;
                    margin-top: -78px;
                    margin-right: -4px;
                    float: right;
                    position: relative;
                    z-index: 1;
                    width: 58px;
                    height: 53px;
                    background: url(img/menu_hot.png) no-repeat;
                }
            }
            .submenu{
                // display: none;
                height: 0px;
                // @include transition($style: height, $duration: 100ms);
                overflow: hidden;
                position: absolute;
                left: 0px;
                top: 74px;
                z-index: 10;
                width: 100%;
                padding-left: calc(350px + 2.5% );
                background-color: rgba(0,0,0,0.9);
                // padding-left: 350px;
                text-align: center;
                li {
                    // float: left;
                    display: inline-block;
                    text-align: center;
                    min-width: 50px;
                    margin: 10px 10px;
                }
                a {
                    .img{
                        position: relative;
                        width: 50px;
                        height: 50px;
                        margin: 0px auto 5px;
                        span{
                            display: block;
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            background-size: 50px auto;
                            background-position: 0px 0px;
                            opacity: 1;
                            @include transition ($style: opacity, $duration: 100ms);
                            &:last-child{
                                background-position-y: -50px;
                                opacity: 0;
                            }
                        }
                    }
                    h3{
                        font-size: $fontSize;
                    }
                    &:hover{
                        span{
                            opacity: 0;
                            background-position: 0px 0px;
                            @include transition ($style: opacity, $duration: 300ms);
                            &:last-child{
                                opacity: 1;
                            }
                        }
                    }
                }
                &:after{
                    content: '';
                    display: table;
                    clear: both;
                }
            }
        }
    }
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
.account_bar{
    height: 32px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    padding-top: 3px;
    padding-right: calc(2.6% + 20px);
    > span{
        margin-right: 8px;
        font-size: $fontSize_xs;
        vertical-align: middle;
        line-height: 24px;
        &.code{
            input{
                width: 80px;
            }
            img{
                height: 26px;
                vertical-align: top;
            }
        }
    }
    input{
        background-color: #3a3939;
        color: $fontColor_gray;
        line-height: 26px;
        height:26px;
        padding: 0px 5px;
    }
    .btn{
        line-height: 26px;
        display: inline-block;
        margin-right: 0px;
        a{
            display: inline-block;
            padding:0px 15px;
            &.btn_login{
                @include gdGold;
            }
            &.btn_reg{
                @include gdOrange;
            }
            &:hover{
                color: #fff;
            }
        }
    }
    &.login{
        > span{
            position: relative;
            padding-right: 10px;
            &:after{
                content: '';
                width: 1px;
                height: 12px;
                background-color: $linePurple;
                position: absolute;
                right: 0px;
                top: 1px;
            }
            &:last-child{
                margin-right: 0px;
                padding-right: 0px;
                &:after{
                    display: none;
                }
            }
            .logout{
                color: #dc7500;
            }
        }
        .account{
            .icon_mail small{
                display: inline-block;
                vertical-align: top;
                margin-top: 0px;
                margin-left: 12px;
                background-color: $colorPink;
                width: 11px;
                height: 11px;
                font-size: $fontSize_xs;
                line-height: $fontSize_xs;
                text-align: center;
                border-radius: 6px;
            }
        }
    }
}

/* ---------------------------------------------------
// main
--------------------------------------------------- */
#main{
    padding-top: 111px;
}
.mainbox{
    position: relative;
}
.mainad{
    // position: relative;
    .ad_slider{
        width: 1280px;
        height: 410px;
        margin: 0px auto;
        text-align: center;
        // position: relative;
        // position: absolute;
        // left: 0px;
        // top: 0px;
        // z-index: 9;
        a{
            display: inline-block;
        }
        img{
            height: 410px;
        }
    }
    .slick-dots{
        bottom: 50px;
    }
}

/* ---------------------------------------------------
// footer
--------------------------------------------------- */
#footer{
    background-color: #151d2e;
}
.link_list{
    border-bottom: 1px dashed #666;
    margin: 0px auto;
    padding: 20px 0px;
    font-size: $fontSize_xs;
    .link_block{
        display: inline-block;
        &:last-child{
            float: right;
        }
        &:nth-child(odd){
            margin-right: 50px;
        }
        dt{
            color: #B9B9B9;
        }
        dd{
            display: inline-block;
            margin: 10px 0px;
            padding:0px;
            a{
                display: inline-block;
                height: 45px;
                background-image: url(img/footer_links.png);
                background-size: 500px auto;
                background-position-x: -250px;
                margin: 5px 30px 5px 0px;
                // @media only screen and (max-width:1279px){
                //     margin: 5px 14px 5px 0px;
                // }
                &:last-child{ 
                    margin-right: 0px;
                }
                // &:hover{background-position-x: -250px;}
                &.link-ag{ width: 95px; background-position-y: 0px; }
                &.link-mg{ width: 45px; background-position-y: -50px; }
                &.link-bb{ width: 68px; background-position-y: -100px; }
                &.link-playtech{ width: 135px; background-position-y: -150px; }
                &.link-pagcor{ width: 150px; background-position-y: -200px; height: 45px; }
                &.link-unionpay{ width: 110px; background-position-y: -250px; }
                &.link-wechatpay{ width: 120px; background-position-y: -300px; }
                &.link-alipay{ width: 80px; background-position-y: -350px; }
                &.link-18{ width: 35px; background-position-y: -400px; }
                &.link-gavcare{ width: 35px; background-position-y: -450px; }
                &.link-lottery{ width: 58px; background-position-y: -500px; }
                &.link-oriental{ width: 58px; background-position-y: -550px; }
                &.link-allbet{ width: 77px; background-position-y: -600px; }
                &.link-deluexgold{ width: 81px; background-position-y: -650px; }
                &.link-visa{ width: 75px; background-position-y: -700px; }
                &.link-mastercard{ width: 150px; background-position-y: -750px; }
                &.link-hand{ width: 35px; background-position-y: -800px; }
            }
        }
        &.pay a{ 
            margin-right: 43px;
            // @media only screen and (max-width:1279px){
            //     margin-right: 23px;
            // }
        }
        &.responsibility a{ margin-right: 18px;}
    }
}
.footer_menu{
    text-align: center;
    padding-bottom: 10px;
    li{
        display: inline-block;
        a{
            display: inline-block;
            padding: 20px;
            font-size: $fontSize_m;
        }
    }
}
.copyright{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    line-height: 34px;
    font-size: $fontSize_xs;
    text-align: center;
    @include gdGold;
}
.online-service{
    position: fixed;
    top: 180px;
    left: 0px;
    z-index: 999;
    width: 130px;
    img{
        width: 100%;
        height: auto;
    }
    .close{
        position: absolute;
        bottom: -24px;
        width: 100px;
        height: 24px;
        cursor: pointer;
        width: 100%;
        background: url(img/floatad_close.png) no-repeat center top;
        background-size: 100%;
    }
    &.right{
        left: auto;
        right: 0px;
    }
}

/* ---------------------------------------------------
// pager
--------------------------------------------------- */
.pager{
    text-align: center;
    margin: 20px 0px 30px;
    a{
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        line-height: 25px;
        font-size: $fontSize_m;
        margin: 0px 3px;
        overflow: hidden;
        color: #fff;
        .icon{
            display: inline-block;
            background: url(img/icon_pager.png) no-repeat;
            background-size: 50px auto;
            width: 25px;
            height: 25px;
        }
        &:hover{
            background-color: $fontColor_gold;
            .icon{
                background-position-y: -25px;
            }
        }
        &.active{
            color: $fontColor_gold;
            &:hover{
                color: #fff;
            }
        }
    }
    .prev{
        background-color: #4c483f;
        .icon{
            background-position-x: 0px;
        }
    }
    .next{
        background-color: #4c483f;
        .icon{
            background-position-x: -25px;
        }
    }
}


/* ---------------------------------------------------
// animate
--------------------------------------------------- */
@keyframes borderGold{
    from{background-position:100%}
    to{background-position:0%}
}
@keyframes menuRotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}


/* ---------------------------------------------------
// plugins
--------------------------------------------------- */
/* plugins */
@import '../vendor/slick/slick';
@import '../vendor/slick/slick-theme';

/* slick cover */
#main{
    .slick-arrow{
        position: absolute;
        top: 50%;
        background-image: url(img/slider_arrow.png);
        background-size: 60px 80px;
        width: 30px;
        height: 40px;
        cursor: pointer;
            background-position-y: -40px;
        &.slider_prev{
            left: -20px;
            background-position-x: 0px;
        }
        &.slick-next{
            right: -20px;
            background-position-x: -30px;
        }
        &:before{
            display: none;
        }
        &:hover{
            background-position-y: 0px;
        }
        &.slick-disabled{
            opacity: 0.2;
            cursor: default;
            &:hover{
                background-position-y: -40px;
            }
        }
    }
}