@import 'var';

.personal_box{
    background-image: url(img/bg_personal.jpg);
    background-size: auto 200px;
    background-repeat: no-repeat;
    padding-top: 65px;
    .personal_title{
        height: 70px;
        background-size: 500px 70px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px auto 65px 20%;
    }
    .pager{
        margin-bottom: 15px;
        a{
            color: #aeaba4;
            &.active{
                color: $fontColor_gold;
            }
            &:hover{
                color: $fontColor_gold;
                background-color: transparent;
            }
            &.prev:hover, &.next:hover{
                background-color:$fontColor_gold;
            }
        }
    }
}
.left_menu{
    width: 20%;
    float: left;
    margin-bottom: 20px;
    color: #000;
}
.right_main{
    width: 77.5%;
    float: right;
    margin-left: 2.5%;
    background-color: #fff;
    margin-bottom: 20px;
    color: #000;
}
.user_info{
    background: url(img/bg_gd_white.png) top left repeat-x;
    background-size: auto 100%;
    padding-top: 1px;
    text-align: center;
    height: 184px;
    .img{
        width: 140px;
        height: 140px;
        margin: -70px auto 25px;
        img{
            width: 100%;
        }
    }
    p{
        margin: 5px 0px;
    }
    .name{
        font-size: $fontSize_s;
    }
    .balance{
        color: $colorOrange;
        font-size: 24px;
    }
    .refresh{
        font-size: $fontSize_m;
        letter-spacing: 2px;
        span{
            cursor: pointer;
            margin-left: 5px;
            margin-top: -3px;
        }
    }
}
.psn_menu{
    li{
        border-bottom: 1px solid #444;
        a{
            display: block;
            padding: 10px 0px;
            color: #969696;
            position: relative;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                right: 0px;
                background: url(img/icon_sprite.png) no-repeat -120px -48px;
                background-size: 256px 256px;
                width: 24px;
                height: 24px;
            }
            &:hover, &.active{
                color: #d7be63;
                .icon_sprite{
                    background-position-y: -72px;
                }
                &:after{
                    background-position: -120px -72px;
                }
            }
        }
        .icon_sprite{
            margin: 0px 10px;
        }
    }
}

.psn_tab{
    li{
        cursor: pointer;
        float: left;
        text-align: center;
        position: relative;
        z-index: 1;
        color: $fontColor_gray;
        border: 1px solid #d2d2d2;
        border-top: 5px solid #b4ab9b;
        margin-right: -1px;
        padding: 7px 10px;
        font-size: $fontSize_m;
        .icon_tab{
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            background: url(img/icon_tab.png) no-repeat;
            background-size: 400px 400px;
            margin-right: 5px;
            transform: translateY(-3px);
        }
        &:nth-of-type(1) .icon_tab{background-position-x: 0px;}
        &:nth-of-type(2) .icon_tab{background-position-x: -40px;}
        &:nth-of-type(3) .icon_tab{background-position-x: -80px;}
        &:nth-of-type(4) .icon_tab{background-position-x: -120px;}
        &:hover, &.active{
            z-index: 2;
            color: $colorYellow;
            border-color: $colorYellow;
            @include gdActive();
        }
    }
    &:after{
        content: '';
        clear: both;
        display: table;
    }
}
// .psn_wrap{
// }
.psn_content{
    padding: 20px 15px;
}
.psn_filter{
    margin-bottom: 10px;
    &:after{
        content: '';
        clear: both;
        display: table;
    }
}
.psn_filter_game{
    padding-top: 7px;
    border-top: 1px solid $lineGray;
    &:after{
        content: '';
        clear: both;
        display: table;
    }
}
.psn_label{
    margin-right: 5px;
    font-size: $fontSize_m;
    float: left;
    width: 60px;
    line-height: 35px;
}
.psn_form{
    float: left;
    width: calc( 100% - 65px );
    >span{
        margin-right: 5px;
    }
    .Wdate{
        background-position: right 5px center;
    }
    &.game_filter{
        > span{
            display: inline-block;
            width: 80px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid $lineGray;
            margin: 4px 1.8px 4px 0px;
            color: #c5c5c4;
            cursor: pointer;
            &.active{
                border-color: $colorYellow;
                color: $colorYellow;
                @include gdActive();
            }
            &:nth-child(8n){
                margin-right: 0px;
            }
        }
        .more{
            white-space: nowrap;
            color: #888;
        }
    }
}
.psn_filter_btn{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
.psn_list{
    margin-bottom: 20px;
}
.psd_table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    th,td{
        padding: 8px;
        text-align: left;
        &:first-child{
            text-align: center;
        }
        &.td_center{
            text-align: center;
        }
    }
    th{
        background-color: #f1e8c6;
        color: #6a644c;
        font-weight: normal;
        white-space: nowrap;
    }
    td{
        font-size: $fontSize_s;
    }
    tbody{
        tr{
            background-color: #f1efe8;
            border-top: 1px solid #e1ddd1;
            &:first-child{
                border-top: none;
            }
            &:nth-child(odd){
                background-color: #fff;
            }
        }
    }
    tfoot{
        tr{
            border-top: 1px solid #e1ddd1;
        }
        td{
            background-color: #f1e8c6;
            .td_count{
                margin: 0px 20px;
            }
        }
    }
}

/* 消息公告 */
#personal-msg{
    .personal_title{
        background-image: url(img/subtitle_msg.png);
    }
}
#msg_tab{
    li{
        width: 259px;
        // @media only screen and (max-width:1279px){
        //     width: 224px;
        // }
        &:hover, &.active{
            .icon_tab{
                background-position-y: -40px;
            }
        }
    }
}

/* 资金纪录 */
#personal-funds{
    .personal_title{
        background-image: url(img/subtitle_funds.png);
    }
}
#funds_tab{
    li{
        width: 194.5px;
        // @media only screen and (max-width:1279px){
        //     width: 168.25px;
        // }
        .icon_tab{
            background-position-y: -80px
        }
        &:hover, &.active{
            .icon_tab{
                background-position-y: -120px;
            }
        }
    }
}
/* 投注纪录 */
#personal-bettin{
    .personal_title{
        background-image: url(img/subtitle_bettin.png);
    }
}

/* 个人中心 */
#personal-info{
    .personal_title{
        background-image: url(img/subtitle_info.png);
    }
}
.psn_info{
    dt{

    }
    dd{
        
    }
}